.listRow {
  text-align: left;
  padding: 1rem 0 1rem 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.listRow.selected {
  background-color: rgb(237, 244, 252);
}

.listRow:hover {
  background-color: rgba(0, 0, 0, 0.02);
}