@media (min-width: 1200px) {
  .moviesContainer {
    height: 100vh;
    border-right: 1px solid #eee;
  }
}

.filtersContainer {
  position: absolute;
  top: 0;
}

.contentContainer {
  margin-top: 100px;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
