.noMovieSelected {
  padding-top: 20px;
  text-align: center;
}

.detailsContainer {
  padding-left: 16px;
  padding-right: 16px;
}

.rowWithPadding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.poster {
  max-width: 95%;
  height: auto;
}
